.user-avatar {
    width: 80px;
}

:host-context(.comment-container) .user-avatar {
    width: 50px;
}

:host-context(.navbar) .user-avatar {
    width: 50px;
}

:host-context(.comment-form) .user-avatar {
    width: 35px;
    padding: 0 5px
}

:host-context(.friend-data) .user-avatar {
    width: 40px;
}

:host-context(.profile .avatar) .user-avatar {
    width: 150px;
}

:host-context(.chat-header) .user-avatar {
    width: 70px;
}

:host-context(.chat-body) .user-avatar {
    width: 35px;
}