@import '../../scss/mixins.scss';

section {
    @include tablet {
        width: 100%;
        margin: 0 auto;
        display: flex;
        padding-top: 45px;

        .posts {
            width: 65%;
        }
    }

    @include desktop {
        width: 75%;
    }
}