.album-create {
    margin-bottom: 10px;

    .album-form {
        #album-name {
            margin-bottom: 10px;
        }

        #create-album-btn {
            margin-top: 10px;
        }
    }
}