<div class="comment-container">
    <div class="flex">
        <app-user-avatar [user]="comment.author"></app-user-avatar>
        <div class="comment-text">
            <a href="#">{{comment.author | fullName}}</a>
            <span id="comment-timestamp">{{comment.createdAt | date:'shortDate'}} {{comment.createdAt | date:'shortTime'}}</span>
            <p>{{comment.text}}</p>
        </div>
        
        <div class="comment-actions">
            <img id="like" class="comment-action" src="{{'baseUrl' | env}}\media\heart.svg" alt="">
            <img (click)="reply()" id="reply" class="comment-action" src="{{'baseUrl' | env}}\media\message.svg" alt="">
        </div>
    </div>

    <app-comment-form *ngIf="showReplyForm" [id]="comment.id" [context]="'comment'"></app-comment-form>

    <button class="btn btn-link" (click)="showReplies()" *ngIf="comment.replies?.length">{{!showSubComments ? 'See' : 'Hide'}} replies ({{comment.replies.length}})</button>
    
    <div *ngIf="comment.replies?.length && showSubComments" class="comment-replies">
        <ng-container *ngFor="let reply of comment.replies">
            <app-comment *ngIf="!isMobile" [comment]="reply"></app-comment>
        </ng-container>
    </div>
</div>