<nav *ngIf="router.url != '/login'" class="navbar">
    <div class="navbar-content">
        <div class="navbar-header">
            <a routerLink="/" class="navbar-brand">The Network</a>
        </div>
        <div class="navbar-searchbox">
            <input type="text" placeholder="Search" name="search" id="search">
        </div>
        <div class="navbar-links">
            <div id="navbar-home">
                <a routerLink="/" routerLinkActive="active" class="navbar-link">
                    <img src="{{'baseUrl' | env}}\media\home.svg" alt="">
                </a>
            </div>
            <div id="navbar-user-profile">
                <a href="#" class="navbar-link">
                    <app-user-avatar [user]="currentUser"></app-user-avatar><span>Tihomir</span>
                </a>
            </div>
            <button class="btn btn-link" (click)="logout()">Logout</button>
        </div>
    </div>
</nav>