@import '../../scss/mixins.scss';

.navbar {
    &-brand {
        font-size: 2em;
        font-family: 'Dancing Script', cursive !important;
    
        color: black;
        text-decoration: none;
    }

    &-searchbox {
        display: none;
        position: relative;

        @include tablet {
            display: inline;
            padding-top: 5px;
            width: 30%;
        }

        @include desktop {
            width: 20%;
        }

        .search-results-container {
            position: absolute;
            background-color: white;
            width: 95%;
            box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.75);
        }
    }

    &-content {
        display: flex;
        justify-content: space-around;
    }

    &-links {
        display: flex;
        justify-content: space-between;

        #navbar-user-profile {
            position: relative;

            &:hover .profile-tooltip {
                visibility: visible;
            }
        }

        .user-profile-container {
            cursor: pointer;
        }

        .profile-tooltip {
            visibility: hidden;
            width: 300px;
            border-radius: 6px;
            position: absolute;
            z-index: 2;
            background-color: white;
            box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.75);

            top: 100%;
            margin-left: -150px;
            left: -195%;

            &:after {
                content: '';
                position: absolute;
                bottom: 100%;
                left: 91%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: transparent transparent white transparent;
            }
        
            .profile {
                border-bottom: 1px solid black;
            }
    
            .logout { 
                border-top: 1px solid black;
            }

            .friend-requests {
                max-height: 145px;
                overflow-y: auto;
            }

            .friend-request {
                padding: 5px 0;
                p {
                    display: inline;
                }

                button {
                    width: 50%;
                }

                &-from {
                    padding: 13px;
                }
            }
        }
    }

    &-link {
        padding: 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 45px;
        }

        &.active {
            img {
                filter: brightness(0) saturate(100%) invert(0%) sepia(2%) saturate(0%) hue-rotate(174deg) brightness(100%) contrast(103%);
            }
        }
    }
}