<nav class="navbar">
    <div class="navbar-content">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">The Network</a>
        </div>
        <div class="navbar-serachbox">
            <input type="text" name="search" id="search">
        </div>
        <div class="navbar-links">
            <div id="navbar-user-profile">
                <a href="#" class="navbar-link">Profile</a>
            </div>
            <div id="navbar-home">
                <a href="#" class="navbar-link">Home</a>
            </div>
        </div>
    </div>
</nav>