@import '../../scss/mixins.scss';

:host-context(section) .sidebar {
    display: none;

    @include tablet {
        display: inline;
    }
}

.sidebar {
    @include tablet {
        padding: 30px 15px;
        display: inline;
        width: 30%;
        position: fixed;
        z-index: 1;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    @include desktop {
        width: 25%;
    }

    h3 {
        margin: 5px 0;
    }

    &-content {
        padding: 5px;
        box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.75);
    }

    &-body {
        position: relative;
        max-height: 300px;
        overflow-y: auto;
    }

    .user-data {
        padding: 0 10px;
    }
}

.copyright {
    color: grey;
    padding-top: 5px;
}