@import '../../scss/mixins.scss';

.reactions-tooltip {
    justify-content: space-evenly;
    visibility: hidden;
    background-color: black;
    border-radius: 10px;

    position: absolute;
    z-index: 1;

    &::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: black transparent transparent transparent;
    }


    .reaction {
        position: relative;
        padding: 5px;

        transition: transform 0.3s ease-in;

        img {
            width: 45px;
        }

        span {
            visibility: hidden;
            width: 60px;
            margin-left: -30px;
            background-color: black;
            color: #fff;
            text-align: center;
            bottom: 100%;
            left: 50%;
            border-radius: 25px;
            
            position: absolute;
            z-index: 1;
        }

        &:hover {
            transform: scale(1.2);
            transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
            span {
                visibility: visible;
            }
        }
    }
}

:host-context(.like-btn) .reactions-tooltip {
    width: 330px;
    bottom: 100%;
    
    @include tablet {
        margin-left: -165px;
        left: 50%;
    }
}

:host-context(.like-btn:hover) .reactions-tooltip {
    visibility: visible;
    animation: stretch-animation 0.5s linear;
}

:host-context(#like) .reactions-tooltip {
    top: -5px;
    right: 130%;
    cursor: pointer;

    img {
        width: 25px;
    }

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 102%;
        margin-top: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent transparent black;
    }
}

:host-context(#like:hover) .reactions-tooltip {
    visibility: visible;
    animation: stretch-animation 0.5s linear;
}

@keyframes stretch-animation {
    0% {
      transform: scale(1,1)
    }
    10% {
      transform: scale(1.1,.9)
    }
    30% {
      transform: scale(.9,1.1)
    }
    50% {
      transform: scale(1.05,.95)
    }
    100% {
      transform: scale(1,1)
    }
}