@import "../../scss/mixins.scss";

.post {
    margin: 15px 0;

    @include tablet {
        width: 100%;
        box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.75);
    }

    @include desktop {
        // width: 85%;
    }

    &-header {
        display: flex;
        padding: 5px 5px;

        h3 {
            margin: 5px 0;
        }

        .post-author {
            margin: 0 10px;
            flex: 2;
        }

        .post-menu {
            position: relative;

            .menu-tooltip {
                position: absolute;
                visibility: visible;
                width: 120px;
                background-color: white;
                color: black;
                text-align: center;
                padding: 5px 0;
                border-radius: 5px;
                border: 1px solid black;

                z-index: 3;
                left: -100px;
                top: 25px;
            }

            img {
                width: 15px;
            }

            a {
                cursor: pointer;
            }
        }

        #post-timestamp {
            font-size: 12px;
            font-weight: bold;
        }
    }

    &-text {
        padding: 10px 15px;
    }

    &-actions {
        img {
            position: relative;
            top: 3px;
            width: 20px;
            height: 20px;
        }

        .like-btn {
            position: relative;
            flex: 1;
            margin: 0 10px 0 0;

            @include tablet {
                margin: 0 10px 0 6px;
            }
            
            @include desktop {
                margin: 0 10px;
            }
        }

        .share-btn {
            flex: 1;
            margin: 0 0 0 10px;

            @include tablet {
                margin: 0 6px 0 10px;
            }

            @include desktop {
                margin: 0 12px 0 10px;
            }
        }
    }

    &-reacts {
        padding: 10px;

        .reacts {
            flex: 2;
        }
    }

    &-comments {
        max-height: 200px;
        overflow-y: auto;
    }
}
