<article class="post">
    <header *ngIf="post.user" class="post-header">
        <app-user-avatar [user]="post.user"></app-user-avatar>
        <div class="post-author">
            <h3>{{post.user | fullName}}</h3>
            <span id="post-timestamp">{{post.createdAt | date:'fullDate'}} {{post.createdAt | date:'shortTime'}}</span>
        </div>
    </header>

    <div class="post-text">{{post.text}}</div>

    <app-post-media *ngIf="post.media.length" [media]="post.media"></app-post-media>

    <div class="post-reacts flex">
        <div class="reacts">
            <app-reactions-data [reactions]="post.reactions"></app-reactions-data>
        </div>

        <div id="comments-length">
            <span>
                {{post.comments?.length}} {{post.comments?.length === 1 ? 'Comment' : 'Comments'}}
            </span>
        </div>
    </div>

    <div class="post-actions flex">
        <button class="btn btn-primary like-btn">
            <app-reactions-tooltip [id]="post.id" [context]="'post'" (newReactionEvent)="reactionAdded()"></app-reactions-tooltip>
            <img src="{{'baseUrl' | env}}\media\heart.svg" alt="">
            Like
        </button>
        <button class="btn btn-primary share-btn">
            <img src="{{'baseUrl' | env}}\media\share.svg" alt="">
            Share
        </button>
    </div>

    <app-comment-form [id]="post.id" [context]="'post'" (newCommentEvent)="commentAdded()"></app-comment-form>

    <div *ngIf="post.comments.length" class="post-comments">
        <ng-container *ngFor="let comment of post.comments">
            <app-comment *ngIf="!isMobile" [comment]="comment"></app-comment>
        </ng-container>

        <button class="btn btn-link" *ngIf="isMobile">See comments</button>
    </div>
</article>
