<article class="post">
    <header *ngIf="post.user" class="post-header">
        <app-user-avatar [user]="post.user"></app-user-avatar>
        <div class="post-author">
            <a routerLink="/user/{{post.user.username}}/posts"><h3>{{post.user | fullName}}</h3></a>
            <span id="post-timestamp">{{post.createdAt | date:'fullDate'}} {{post.createdAt | date:'shortTime'}}</span>
        </div>
        <div *ngIf="currentUser.id === post.user.id" class="post-menu">
            <button class="btn btn-link"><img src="{{'baseUrl' | env}}\media\menu.svg" alt="Menu" (click)="toggleMenu()"></button>
            <div *ngIf="showMenu" class="menu-tooltip">
                <a (click)="delete()">Delete</a>
            </div>
        </div>
    </header>

    <div class="post-text">{{post.text}}</div>

    <app-post-media *ngIf="post.media.length" [media]="post.media" (togglePostMediaModalEvent)="togglePostMediaModal()"></app-post-media>

    <div class="post-reacts flex">
        <div class="reacts">
            <app-reactions-data [reactions]="post.reactions"></app-reactions-data>
        </div>

        <div id="comments-length">
            <span>
                {{post.comments?.length}} {{post.comments?.length === 1 ? 'Comment' : 'Comments'}}
            </span>
        </div>
    </div>

    <div class="post-actions flex">
        <button class="btn btn-primary like-btn">
            <app-reactions-tooltip [id]="post.id" [context]="'post'" (newReactionEvent)="reactionAdded()"></app-reactions-tooltip>
            <img src="{{'baseUrl' | env}}\media\heart.svg" alt="">
            Like
        </button>
        <button class="btn btn-primary share-btn" (click)="share()">
            <img src="{{'baseUrl' | env}}\media\share.svg" alt="">
            Share
        </button>
    </div>

    <app-comment-form [id]="post.id" [context]="'post'" (newCommentEvent)="commentAdded()"></app-comment-form>

    <div *ngIf="post.comments.length" class="post-comments">
        <ng-container *ngFor="let comment of post.comments">
            <app-comment *ngIf="!isMobile" [comment]="comment"></app-comment>
        </ng-container>

        <button (click)="toggleCommentsModal()" class="btn btn-link" *ngIf="isMobile">See comments</button>
        <app-comments-modal [show]="showCommentsModal" [post]="post" (toggleModalEvent)="toggleCommentsModal()"></app-comments-modal>
    </div>

    <app-post-media-modal *ngIf="post.media.length && !isMobile" [show]="showPostMediaModal" [post]="post" (togglePostMediaModalEvent)="togglePostMediaModal()" (commentAddedEvent)="commentAdded()" (reactionAddedEvent)="reactionAdded()" (shareEvent)="share()"></app-post-media-modal>
</article>